body {
    background-color: #f8f9fa;
}

.login-container {
    max-width: 900px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.login-form {
    padding: 50px;
    flex: 1;
}

.login-form h2 {
    margin-bottom: 30px;
    font-weight: bold;
}

.login-form .form-control {
    border-radius: 5px;
    height: 45px;
}

.login-form .btn-primary {
    border-radius: 5px;
    height: 45px;
    background-color: #000000;
    border: none;
}

.login-form .form-check-label {
    margin-left: 10px;
}

.login-form .forgot-password,
.login-form .signup-link {
    display: inline-block;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
}

.login-form .forgot-password:hover,
.login-form .signup-link:hover {
    text-decoration: underline;
}

.login-image {
    flex: 1;
    background-color: #f1f3f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-image img {
    max-width: 80%;
    height: auto;
}




.textOnInput {
    position: relative;
}
.textOnInput label {
    position: absolute;
    color: #355574;
    top: -15px;
    left: 15px;
    padding: 3px;
    z-index: 1;
}
.textOnInput label:after {
    content: " ";
    background-color: #fff;
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}
label {
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: .5rem;
}
.form-control {
    box-shadow: none !important;
    padding: 2.5%;
}