<div class="login-container">
  <div class="login-form">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="logIn()">
      <div class="mb-3 textOnInput">
        <label for="email" >Email</label>
        <input type="email" class="form-control" id="email"  formControlName="Email" [class.is-invalid]="validateControl('Email')">
        <span *ngIf="validateControlError('Email','required')" class="text-danger">Email is required*</span>
        <span *ngIf="validateControlError('Email','email')" class="text-danger">Email is invalid</span>
      </div>
      <div class="mb-3 textOnInput">
        <label for="password" >Password</label>
        <input type="password" class="form-control" id="password" formControlName="Password" [class.is-invalid]="validateControl('Password')">
        <span *ngIf="validateControlError('Password','required')" class="text-danger">Password is required*</span>
        <button type="submit" class="btn btn-primary w-100 mt-4" [disabled]="loginForm.invalid">Login</button>
      <a routerLink="/forgot-password" class="forgot-password float-end">Forgot password?</a>
      <a routerLink="/register" class="signup-link">Don't have an account? Sign up</a>
      </div>
      </form>
  </div>
  <div class="login-image">
    <img
      src="https://img.freepik.com/free-vector/access-control-system-abstract-concept_335657-3180.jpg?size=626&ext=jpg&ga=GA1.1.556337143.1725380902&semt=ais_hybrid"
      alt="Security Illustration">
  </div>
</div>
