.course-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    background-color: #fff;
}

.course-image {
    max-width: 100%;
    height: auto;
}

.course-content {
    padding: 10px;
}

.course-content h3 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.course-content p {
    color: #666;
    
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}