<div class="forgot-password-container">
  <div class="forgot-password-form">
    <a href="login" class="back-to-login">&larr; back to login</a>
    <h2>Forgot your password?</h2>
    <p>
      Don’t worry, happens to all of us. Enter your email below to recover your
      password!
    </p>
    <form>
      <div class="textOnInput mb-3">
        <input type="email" class="form-control" id="email" placeholder=" " />
        <label for="email">Email</label>
      </div>
      <div class="textOnInput mb-3">
        <input type="text" class="form-control" id="securityQuestion" placeholder=" " />
        <label for="securityQuestion">Security Question</label>
      </div>
      <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
  </div>
  <div class="forgot-password-image">
    <img src="https://img.freepik.com/free-vector/forgot-password-concept-illustration_114360-1123.jpg?size=626&ext=jpg"
      alt="Security Illustration" />
  </div>
</div>