<div class="signup-container">
  <div class="signup-image">
    <img src="https://img.freepik.com/free-vector/mobile-login-concept-illustration_114360-83.jpg?size=626&ext=jpg"
      alt="Sign Up Illustration" />
  </div>
  <div class="signup-form">
    <h2 class="mb-5">Sign up</h2>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="row mt-4">
        <div class="col-md-6 mb-1 textOnInput mb-4">
          <input type="text" class="form-control" formControlName="FirstName" id="firstName" />
          <label for="firstName">First Name</label>
        </div>
        <div class="col-md-6 mb-1 textOnInput mb-4">
          <input type="text" class="form-control" id="lastName" formControlName="LastName" />
          <label for="lastName">Last Name</label>
        </div>
      </div>
      <div class="mb-1 textOnInput mb-4">
        <input type="email" class="form-control" id="email" formControlName="Email" />
        <label for="email">Email</label>
        <span *ngIf="validateControlError('Email', 'required')" class="text-danger">Email is required*</span>
        <span *ngIf="validateControlError('Email', 'email')" class="text-danger">Email is invalid</span>
      </div>
      <div class="mb-1 textOnInput mb-4">
        <select id="role" class="form-select form-control" formControlName="Role">
          <option value="" selected>Select</option>
          <option value="Employee">Employee</option>
          <option value="Accounts">Accounts</option>
        </select>
        <label for="role">Role</label>
      </div>
      <div class="mb-3 textOnInput mb-4">
        <input type="text" class="form-control" id="securityQuestion" placeholder="What is your first school name?"
          formControlName="SecurityQuestion" />
        <label for="securityQuestion">Security Question</label>
      </div>
      <div class="mb-3 textOnInput mb-4">
        <input type="password" class="form-control" id="password" formControlName="Password" />
        <label for="password">Password</label>
        <span *ngIf="validateControlError('Password', 'required')" class="text-danger">Password is required*</span>
      </div>
      <div class="mb-3 textOnInput mb-4">
        <input type="password" class="form-control" id="confirmPassword" formControlName="ConfirmPassword" />
        <label for="confirmPassword">Confirm Password</label>
        <span *ngIf="validateControlError('ConfirmPassword', 'passwordMismatch')" class="text-danger">Password and
          Confirm Password should match</span>
      </div>
      <button type="submit" class="btn btn-primary w-100 mt-1" [disabled]="registrationForm.invalid">
        Create account
      </button>
      <a routerLink="/login" class="login-link">Already have an account? Log in</a>
    </form>
  </div>
</div>