<div class="signup-container">
  <div class="signup-image">
    <img src="https://img.freepik.com/free-vector/mobile-login-concept-illustration_114360-83.jpg?size=626&ext=jpg" alt="Sign Up Illustration">
  </div>
  <div class="signup-form">
    <h2>Sign up</h2>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="row mt-4">
        <div class="col-md-6 mb-1">
          <label for="firstName" class="form-label">First Name</label>
          <input type="text" class="form-control" formControlName="FirstName" id="firstName" placeholder="First Name">
        </div>
        <div class="col-md-6 mb-1">
          <label for="lastName" class="form-label">Last Name</label>
          <input type="text" class="form-control" id="lastName" formControlName="LastName" placeholder="Last Name">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-1">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Email" formControlName="Email">
        </div>
        <div class="col-md-6 mb-1">
          <label for="phone" class="form-label">Phone Number</label>
          <input type="text" class="form-control" id="phone" placeholder="Phone Number" formControlName="PhoneNumber">
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-md-6 mb-1">
          <label for="id" class="form-label">Employee ID</label>
          <input type="text" class="form-control" id="id" placeholder="Employee ID" formControlName="EmployeeId">
        </div> -->
        <div class="col-md-6 mb-1">
          <label for="role" class="form-label">Role</label>
          <select id="role" class="form-control" formControlName="Role">
            <option value="Employee" selected>Employee</option>
            <option value="Accounts">Accounts</option>
          </select>
        </div>
      </div>
      <div class="mb-3">
        <label for="securityQuestion" class="form-label">Security Question</label>
        <input type="text" class="form-control" id="securityQuestion" placeholder="What is your first school name?"
          formControlName="SecurityQuestion">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" formControlName="Password">
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
      </div>
      <button type="submit" class="btn btn-primary w-100">Create account</button>
      <a routerLink='login' class="login-link">Already have an account? Log in</a>
    </form>
  </div>
</div>
