<div class="card">
  <div class="card-header">
    <h4 class="card-title">Training Request</h4>
  </div>
  <div class="card-body">
    <ul
      class="nav nav-tabs nav-line nav-color-secondary"
      id="line-tab"
      role="tablist"
    >
      <li class="nav-item">
        <a
          class="nav-link"
          [ngClass]="{ active: activeTab === 'all' }"
          (click)="setActiveTab('all')"
          >All Requests</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [ngClass]="{ active: activeTab === 'pending' }"
          (click)="setActiveTab('pending')"
          >Pending Requests</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [ngClass]="{ active: activeTab === 'accepted' }"
          (click)="setActiveTab('accepted')"
          >Accepted Requests</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [ngClass]="{ active: activeTab === 'rejected' }"
          (click)="setActiveTab('rejected')"
          >Rejected Requests</a
        >
      </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content mt-3 mb-3" id="line-tabContent">
      <!-- All Requests Tab -->
      <div
        class="tab-pane"
        [ngClass]="{ active: activeTab === 'all', fade: activeTab !== 'all' }"
        *ngIf="activeTab === 'all'"
      >
        <div class="allRequests">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="d-flex align-items-center">
                  <h4 class="card-title">All Requests</h4>
                  <button
                    class="btn btn-primary btn-round ms-auto"
                    data-bs-toggle="modal"
                    data-bs-target="#addRowModal"
                  >
                    <i class="fa fa-plus"></i>
                    Send Training Request
                  </button>
                </div>
              </div>
              <div class="card-body">
                <!-- Modal -->
                <div
                  class="modal fade"
                  id="addRowModal"
                  tabindex="-1"
                  role="dialog"
                  aria-hidden="true"
                >
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header bg-dark">
                        <h5
                          class="modal-title text-white"
                          id="sendRequestLabel"
                        >
                          Send Training request
                        </h5>
                        <button
                          type="button"
                          class="btn-close text-white"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <form
                          (ngSubmit)="submitRequest()"
                          #trainingRequestForm="ngForm"
                          class="px-4"
                        >
                          <!-- Requestor Information -->
                          <fieldset>
                            <legend>Requestor Information</legend>

                            <div class="form-group">
                              <label for="requestorName"
                                >Requestor's Name</label
                              >
                              <input
                                id="requestorName"
                                [(ngModel)]="request.requestorName"
                                name="requestorName"
                                class="form-control"
                                readonly
                              />
                            </div>

                            <div class="form-group">
                              <label for="requestorEmail"
                                >Requestor's Email</label
                              >
                              <input
                                id="requestorEmail"
                                [(ngModel)]="request.requestorEmail"
                                name="requestorEmail"
                                type="email"
                                class="form-control"
                                readonly
                              />
                            </div>

                            <div class="form-group">
                              <label for="department">Department</label>
                              <input
                                id="department"
                                [(ngModel)]="request.department"
                                name="department"
                                class="form-control"
                                required
                              />
                            </div>
                          </fieldset>

                          <!-- Training Details -->
                          <fieldset>
                            <legend>Training Details</legend>

                            <div class="form-group">
                              <label for="trainingTitle">Training Title</label>
                              <input
                                id="trainingTitle"
                                [(ngModel)]="request.trainingTitle"
                                name="trainingTitle"
                                class="form-control"
                                required
                              />
                            </div>

                            <div class="form-group">
                              <label for="trainingDescription"
                                >Training Description</label
                              >
                              <textarea
                                id="trainingDescription"
                                [(ngModel)]="request.trainingDescription"
                                name="trainingDescription"
                                class="form-control"
                                rows="4"
                                required
                              ></textarea>
                            </div>

                            <div class="form-group">
                              <label for="numberOfEmployees"
                                >Number of Employees</label
                              >
                              <input
                                id="numberOfEmployees"
                                [(ngModel)]="request.numberOfEmployees"
                                name="numberOfEmployees"
                                type="number"
                                class="form-control"
                                required
                              />
                            </div>

                            <div class="form-group">
                              <label for="technicalSkillSetRequired"
                                >Technical Skill Set Required</label
                              >
                              <input
                                id="technicalSkillSetRequired"
                                [(ngModel)]="request.technicalSkills"
                                name="technicalSkillSetRequired"
                                class="form-control"
                              />
                            </div>

                            <div class="form-group">
                              <label for="durationInDays"
                                >Duration of Training (in days)</label
                              >
                              <input
                                id="durationInDays"
                                [(ngModel)]="request.duration"
                                name="durationInDays"
                                type="number"
                                class="form-control"
                                required
                              />
                            </div>

                            <div class="form-group">
                              <label for="preferredStartDate"
                                >Preferred Start Date</label
                              >
                              <input
                                id="preferredStartDate"
                                [(ngModel)]="request.preferredStartDate"
                                name="preferredStartDate"
                                type="date"
                                class="form-control"
                                required
                              />
                            </div>

                            <div class="form-group">
                              <label for="trainingLocation"
                                >Training Location</label
                              >
                              <input
                                id="trainingLocation"
                                [(ngModel)]="request.trainingLocation"
                                name="trainingLocation"
                                class="form-control"
                              />
                            </div>

                            <div class="form-group">
                              <label for="specialRequirements"
                                >Special Requirements</label
                              >
                              <textarea
                                id="specialRequirements"
                                [(ngModel)]="request.specialRequirements"
                                name="specialRequirements"
                                class="form-control"
                                rows="4"
                              ></textarea>
                            </div>
                          </fieldset>

                          <button type="submit" class="btn btn-primary m-2">
                            Submit Request
                          </button>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-outline-primary"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table-responsive">
                  <div
                    id="add-row_wrapper"
                    class="dataTables_wrapper container-fluid dt-bootstrap4"
                  >
                    <div class="row">
                      <div class="col-sm-12">
                        <table
                          id="training-request"
                          class="display table table-striped table-hover dataTable"
                          role="grid"
                          aria-describedby="training-request_info"
                        >
                          <thead>
                            <tr role="row">
                              <th style="width: 50px">#</th>
                              <th style="width: 200px">Name</th>
                              <th style="width: 200px">Department</th>
                              <th style="width: 200px">Title</th>
                              <th style="width: 150px">Status</th>
                              <th style="width: 150px">View Details</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              *ngFor="
                                let request of trainingRequests;
                                let i = index
                              "
                              role="row"
                              [class.odd]="i % 2 !== 0"
                              [class.even]="i % 2 === 0"
                            >
                              <td>{{ i + 1 }}</td>
                              <td>{{ request.requestorName }}</td>
                              <td>{{ request.department }}</td>
                              <td>{{ request.trainingTitle }}</td>
                              <td>
                                <button
                                  class="btn"
                                  [ngClass]="{
                                    'btn-warning': request.status === 0,
                                    'btn-success': request.status === 1,
                                    'btn-danger': request.status === 2
                                  }"
                                >
                                  <!-- Display status text based on request status -->
                                  <ng-container [ngSwitch]="request.status">
                                    <span *ngSwitchCase="0">Pending</span>
                                    <span *ngSwitchCase="1">Accepted</span>
                                    <span *ngSwitchCase="2">Rejected</span>
                                    <span *ngSwitchDefault>Unknown</span>
                                  </ng-container>
                                </button>
                              </td>
                              
                              
                              <td>
                                <div class="form-button-action">
                                  <button
                                    type="button"
                                    data-bs-toggle="tooltip"
                                    title="View Task"
                                    class="btn btn-link btn-primary btn-lg"
                                    (click)="viewRequestDetails(request)"
                                  >
                                    <i class="fa fa-eye"></i>
                                  </button>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Pending Requests Tab -->
      <div
        class="tab-pane"
        [ngClass]="{
          active: activeTab === 'pending',
          fade: activeTab !== 'pending'
        }"
        *ngIf="activeTab === 'pending'"
      >
        <div class="card">
          <div class="card-header">
            <h4><strong>Pending Requests</strong></h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table
                class="display table table-striped table-hover"
                role="grid"
              >
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Title</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let request of pendingRequests; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ request.requestorName }}</td>
                    <td>{{ request.department }}</td>
                    <td>{{ request.trainingTitle }}</td>
                    <td>
                      <div class="form-button-action">
                        <!-- View Icon -->
                        <button
                          type="button"
                          class="btn btn-link btn-primary btn-lg"
                          (click)="viewRequestDetails(request)"
                        >
                          <i class="fa fa-eye"></i>
                        </button>
                        <!-- Edit Icon -->
                        <button
                          type="button"
                          class="btn btn-link btn-primary btn-lg"
                          data-bs-toggle="modal"
                          data-bs-target="#addRowModal"
                          (click)="openEditModal(request)"
                        >
                          <i class="fa fa-edit"></i>
                        </button>
                        <!-- Delete Icon -->
                        <button
                          type="button"
                          class="btn btn-link btn-danger"
                          (click)="deleteRequest(request)"
                        >
                          <i class="fa fa-times"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


      <!-- Accepted Requests Tab -->
      <div
        class="tab-pane"
        [ngClass]="{
          active: activeTab === 'accepted',
          fade: activeTab !== 'accepted'
        }"
        *ngIf="activeTab === 'accepted'"
      >
        <div class="">
          <div class="card">
            <div class="card-header">
              <h4><strong>Accepted Requests</strong></h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table
                  class="display table table-striped table-hover"
                  role="grid"
                >
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Department</th>
                      <th>Title</th>
                      <th>View</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Use *ngFor to dynamically populate rows -->
                    <tr *ngFor="let request of approvedRequests; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ request.requestorName }}</td>
                      <td>{{ request.department }}</td>
                      <td>{{ request.trainingTitle }}</td>
                      <td>
                        <div class="form-button-action">
                          <button
                            type="button"
                            data-bs-toggle="tooltip"
                            title="View Task"
                            class="btn btn-link btn-primary btn-lg"
                            (click)="viewRequestDetails(request)"
                          >
                            <i class="fa fa-eye"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Rejected Requests Tab -->
      <div
        class="tab-pane"
        [ngClass]="{
          active: activeTab === 'rejected',
          fade: activeTab !== 'rejected'
        }"
        *ngIf="activeTab === 'rejected'"
      >
        <div class="">
          <div class="card">
            <div class="card-header">
              <h4><strong>Rejected Requests</strong></h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table
                  class="display table table-striped table-hover"
                  role="grid"
                >
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Department</th>
                      <th>Title</th>
                      <th>View</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Use *ngFor to dynamically populate rows -->
                     <tr *ngFor="let request of rejectedRequests; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ request.requestorName }}</td>
                      <td>{{ request.department }}</td>
                      <td>{{ request.trainingTitle }}</td>
                      <td>
                        <div class="form-button-action">
                          <button
                            type="button"
                            data-bs-toggle="tooltip"
                            title="View Task"
                            class="btn btn-link btn-primary btn-lg"
                            (click)="viewRequestDetails(request)"
                          >
                            <i class="fa fa-eye"></i>
                          </button>
                        </div>
                      </td>
                    </tr> 
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- view request modal -->
      <div
        class="modal fade"
        id="viewRequestModal"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Request Details</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <table class="table table-hover table-striped">
                <tbody>
                  <tr>
                    <th scope="row" class="col-4">Requestor's Name</th>
                    <td class="col-8">{{ selectedRequest?.requestorName }}</td>
                  </tr>
                  <tr>
                    <th scope="row" class="col-4">Requestor's Email</th>
                    <td class="col-8">{{ selectedRequest?.requestorEmail }}</td>
                  </tr>
                  <tr>
                    <th scope="row" class="col-4">Department</th>
                    <td class="col-8">{{ selectedRequest?.department }}</td>
                  </tr>
                  <tr>
                    <th scope="row" class="col-4">Training Title</th>
                    <td class="col-8">{{ selectedRequest?.trainingTitle }}</td>
                  </tr>
                  <tr>
                    <th scope="row" class="col-4">Training Description</th>
                    <td class="col-8">
                      {{ selectedRequest?.trainingDescription }}
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" class="col-4">Number of Employees</th>
                    <td class="col-8">
                      {{ selectedRequest?.numberOfEmployees }}
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" class="col-4">Technical Skills Required</th>
                    <td class="col-8">
                      {{ selectedRequest?.technicalSkills }}
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" class="col-4">
                      Duration of Training (in days)
                    </th>
                    <td class="col-8">{{ selectedRequest?.duration }}</td>
                  </tr>
                  <tr>
                    <th scope="row" class="col-4">Preferred Start Date</th>
                    <td class="col-8">
                      {{ selectedRequest?.preferredStartDate }}
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" class="col-4">Training Location</th>
                    <td class="col-8">
                      {{ selectedRequest?.trainingLocation }}
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" class="col-4">Special Requirements</th>
                    <td class="col-8">
                      {{ selectedRequest?.specialRequirements }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-primary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Edit Request Modal -->
      <div
        class="modal fade"
        id="addRowModal"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header bg-dark">
              <h5 class="modal-title text-white" id="sendRequestLabel">
                Send Training request
              </h5>
              <button
                type="button"
                class="btn-close text-white"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form
                (ngSubmit)="submitEditedRequest()"
                #editTrainingRequestForm="ngForm"
                class="px-4"
              >
                <!-- Requestor Information -->
                <fieldset>
                  <legend>Requestor Information</legend>

                  <div class="form-group">
                    <label for="requestorName">Requestor's Name</label>
                    <input
                      id="requestorName"
                      [(ngModel)]="request.requestorName"
                      name="requestorName"
                      class="form-control"
                      readonly
                    />
                  </div>

                  <div class="form-group">
                    <label for="requestorEmail">Requestor's Email</label>
                    <input
                      id="requestorEmail"
                      [(ngModel)]="request.requestorEmail"
                      name="requestorEmail"
                      type="email"
                      class="form-control"
                      readonly
                    />
                  </div>

                  <div class="form-group">
                    <label for="department">Department</label>
                    <input
                      id="department"
                      [(ngModel)]="request.department"
                      name="department"
                      class="form-control"
                      required
                    />
                  </div>
                </fieldset>

                <!-- Training Details -->
                <fieldset>
                  <legend>Training Details</legend>

                  <div class="form-group">
                    <label for="trainingTitle">Training Title</label>
                    <input
                      id="trainingTitle"
                      [(ngModel)]="request.trainingTitle"
                      name="trainingTitle"
                      class="form-control"
                      required
                    />
                  </div>

                  <div class="form-group">
                    <label for="trainingDescription"
                      >Training Description</label
                    >
                    <textarea
                      id="trainingDescription"
                      [(ngModel)]="request.trainingDescription"
                      name="trainingDescription"
                      class="form-control"
                      rows="4"
                      required
                    ></textarea>
                  </div>

                  <div class="form-group">
                    <label for="numberOfEmployees">Number of Employees</label>
                    <input
                      id="numberOfEmployees"
                      [(ngModel)]="request.numberOfEmployees"
                      name="numberOfEmployees"
                      type="number"
                      class="form-control"
                      required
                    />
                  </div>

                  <div class="form-group">
                    <label for="technicalSkillSetRequired"
                      >Technical Skill Set Required</label
                    >
                    <input
                      id="technicalSkillSetRequired"
                      [(ngModel)]="request.technicalSkills"
                      name="technicalSkillSetRequired"
                      class="form-control"
                    />
                  </div>

                  <div class="form-group">
                    <label for="durationInDays"
                      >Duration of Training (in days)</label
                    >
                    <input
                      id="durationInDays"
                      [(ngModel)]="request.duration"
                      name="durationInDays"
                      type="number"
                      class="form-control"
                      required
                    />
                  </div>

                  <div class="form-group">
                    <label for="preferredStartDate">Preferred Start Date</label>
                    <input
                      id="preferredStartDate"
                      [(ngModel)]="request.preferredStartDate"
                      name="preferredStartDate"
                      type="date"
                      class="form-control"
                      required
                    />
                  </div>

                  <div class="form-group">
                    <label for="trainingLocation">Training Location</label>
                    <input
                      id="trainingLocation"
                      [(ngModel)]="request.trainingLocation"
                      name="trainingLocation"
                      class="form-control"
                    />
                  </div>

                  <div class="form-group">
                    <label for="specialRequirements"
                      >Special Requirements</label
                    >
                    <textarea
                      id="specialRequirements"
                      [(ngModel)]="request.specialRequirements"
                      name="specialRequirements"
                      class="form-control"
                      rows="4"
                    ></textarea>
                  </div>
                </fieldset>

                <button type="submit" class="btn btn-primary m-2">Save</button>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-primary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
